:root {
  --page-bg-color: #FFFFFF;

  --accent-color: #F3410E;
  --accent-hover-color: #FFFFFF;

  --primary-text-color: #844A25;
  --primary-hover-text-color: #b66838;

  --secondary-text-color: #FFFFFF;
  --secondary-hover-text-color: #c6c6c6;

  --primary-border-color: ;
  --primary-hover-border-color: ;

  --gray-color: #DEDAD2;
  --toastify-z-index: 9999999999 !important;
}
