/* ------------------- NOTO SANS FONT ------------------- */
@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/Noto Sans/NotoSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('/assets/fonts/Noto Sans/NotoSans-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

/* ------------------- BEBAS NEUE FONT ------------------ */
@font-face {
  font-family: 'Bebas Neue';
  src: url('/assets/fonts/Bebas Neue/BebasNeue-Regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('/assets/fonts/Bebas Neue/BebasNeue-Bold.otf');
  font-style: normal;
  font-weight: 700;
}