@tailwind base;
@tailwind components;
@tailwind utilities;

@import './constants.scss';
@import './fonts.scss';


@layer base {
  .text-gradient {
    background: linear-gradient(#9A4D21, #B0622F);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .title-gradient {
    background: linear-gradient(to right, #B0622F, #4A2914);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .users-table {
    font-family: 'Noto Sans';
    & th {
      font-size: 20px;
      font-weight: bold;
      padding: 5px;
      background: #efefef;
      border: 1px solid #dddddd;
    }
    & td {
      font-size: 18px;
      border: 1px solid #dddddd;
      padding: 5px;
    }

    & tbody tr:nth-child(even){
      background: #f3f3f3;
    }
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::placeholder {
  font-style: inherit;
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--primary-text-color);
  font-family: 'Noto Sans';
  text-align: center;
  @media screen and (max-width: 520px) {
    font-size: 1.25rem;
  }
}

body {
  @apply text-xl text-primary-text;
  margin: 0;
  font-family: 'Bebas Neue', 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Open-sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.swiper {
  max-width: 62.5rem;
  width: 100%;
}

.swiper-slide {
  user-select: none;
  transform: scale(.6) !important;
}
.swiper-slide-active {
  transform: scale(1) !important;
}
